[Unit]
Description=Liminal - Scheduled Scan Timer
Requires=liminal.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
